.toastify-success {
    background-color: "#FB953E";
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: "#FFF";
}

.toastify-error {
    background-color: "#FB953E";
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: "#FFF";
}